#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: #F8FDFF;
  background: linear-gradient(180deg, rgba(248, 253, 255, 1) 0%, rgba(222, 237, 255, 1) 100%);
}

/*
.MuiDataGrid-root ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #e0e7ef;
  border-radius: 8px;
}

.MuiDataGrid-root ::-webkit-scrollbar-thumb {
  background: #4A7BD3;
  border-radius: 8px;
  border: 2px solid #e0e7ef;
}

.MuiDataGrid-root ::-webkit-scrollbar-thumb:hover {
  background: #3255A2;
}

.MuiDataGrid-root ::-webkit-scrollbar-corner {
  background: #e0e7ef;
} */
